<%= h1 "#{@team.name} team", class: "govuk-heading-xl" %>

<section class="app-summary-card govuk-!-margin-bottom-6">
  <header class="app-summary-card__header">
    <h2 class="app-summary-card__title govuk-!-font-weight-bold govuk-!-font-size-24">
      Team settings
    </h2>
  </header>

  <div class="app-summary-card__body">
    <%= govuk_summary_list do |summary_list|
      summary_list.with_row do |row|
        row.with_key { "Name" }
        row.with_value { @team.name }
      end

      summary_list.with_row do |row|
        row.with_key { "Users" }
        row.with_value { @team.users.map(&:email).join(", ") }
        row.with_action(text: "Add a new user",
                        href: add_user_team_path(@team))
      end
    end %>
  </div>
</section>

<section class="app-summary-card govuk-!-margin-bottom-6">
  <header class="app-summary-card__header">
    <h2 class="app-summary-card__title govuk-!-font-weight-bold govuk-!-font-size-24">
      Design histories
    </h2>
  </header>

  <div class="app-summary-card__body">
    <% if @team.projects.any? %>
      <%= govuk_table do |table|
        table.with_head do |head|
          head.with_row do |row|
            row.with_cell(text: 'Title', header: true)
            row.with_cell(text: 'Description', header: true)
            row.with_cell(text: 'Visibility', header: true)
          end
        end

        table.with_body do |body|
          @team.projects.each do |project|
            body.with_row do |row|
              row.with_cell { govuk_link_to project.title,
                         project_path(project) }
              row.with_cell { project.description }
              row.with_cell { project.private? ?
                              govuk_tag(text: "Private", colour: "grey") :
                              govuk_tag(text: "Public", colour: "turquoise") }
            end
          end
        end
      end %>
    <% else %>
      <p class="govuk-!-margin-bottom-1">
        You haven’t created any projects.
      </p>
    <% end %>
  </div>
</section>
