<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= h1 'Sorry, there’s a problem with the service',
      class: 'govuk-heading-l' %>

    <p class="govuk-body">Try again later.</p>

    <p class="govuk-body">
      If you continue to see this error contact the <%= t('service.name')
      %> team: <a class="govuk-link" href="mailto:<%= t('service.email') %>"><%=
      t('service.email') %></a>.
    </p>
  </div>
</div>
