<h1 class="govuk-heading-xl">Editing post</h1>

<%= render "form", project: @project, post: @post %>

<div>
  <%= link_to "Show this post", [@project, @post] %> |
  <%= link_to "Back to posts", project_posts_path(@project) %>
</div>
