<%= render "shared/edit_post_header", project: @project, post: @post %>

<div class="govuk-tabs">
  <%= render "shared/edit_post_tabs", project: @project, post: @post,
    tab: :write%>

  <div class="govuk-tabs__panel">
    <%= render "form", project: @project, post: @post %>
  </div>
</div>
