.app-footer {
  .govuk-footer {
    background-color: $app-footer-background-colour;
    border-top: $app-footer-border-width solid $app-footer-border-colour;
  }

  // Reset display: flex and margins
  .govuk-footer__meta {
    display: block;
  }
}
