h1:not([class]) {
  @extend .govuk-heading-xl;
}

h2:not([class]) {
  @extend .govuk-heading-l;
}

h3:not([class]) {
  @extend .govuk-heading-m;
}

h4:not([class]) {
  @extend .govuk-heading-s;
}

blockquote {
  border-left: govuk-spacing(2) solid $govuk-border-colour;
  padding: 1em 0 1em 1em;
  margin: 2em 0;

  p:last-child {
    margin-bottom: 0;
  }
}

input[disabled],
textarea[disabled] {
  border-color: govuk-colour("mid-grey");
}
