.app-header {
  border-bottom-width: $app-header-border-width;

  &--design-history {
    background: $app-header-background-colour;

    .govuk-header__logo {
      width: auto;
      margin-top: govuk-spacing(5);
      margin-bottom: govuk-spacing(5);
    }

    .govuk-header__container {
      border-bottom: $app-header-border-width solid $app-header-border-colour;
      margin-bottom: #{$app-header-border-width * -1};
    }
  }

  &--admin {
    padding-top: govuk-spacing(7);
    padding-bottom: govuk-spacing(2);
    border-bottom: $app-header-border-width solid $app-header-border-colour;

    .govuk-header__container {
      border-bottom-width: 0;
      margin-bottom: 0;
    }
  }

  &__navigation {
    float: right;
    margin-bottom: 0;

    &-item {
      color: govuk-colour("white");
      font-size: 1rem;
      padding: govuk-spacing(2) 0 0 0;
    }
  }
}
