.app-masthead {
  @include govuk-responsive-padding(8, "bottom");
  padding-top: 0;
  color: $app-masthead-text-colour;
  background-color: $app-masthead-colour;
  margin-top: govuk-spacing(-2);

  &__title {
    @include govuk-font($size: 48, $weight: bold);
    @include govuk-responsive-padding(4, "top");
    margin-top: 0;
  }

  &__description {
    @include govuk-font($size: 24);
    color: inherit;
    margin-bottom: 0;

    a:not(:focus) {
      color: inherit;
    }
  }

  &__image {
    @include govuk-responsive-padding(6, "top");

    img {
      max-width: 100%;
    }

    @include govuk-media-query($until: desktop) {
      display: none;
    }
  }

  &--large {
    &__title {
      @include govuk-font($size: 48, $weight: "bold");
    }

    &__description {
      @include govuk-font($size: 24);
    }
  }
}
