.app-masthead {
  @include govuk-responsive-padding(7, "bottom");
  padding-top: 0;
  color: $app-masthead-text-colour;
  background-color: $app-masthead-colour;
  margin-top: govuk-spacing(-2);
}

.app-masthead__title {
  @include govuk-font($size: 36, $weight: bold);
  @include govuk-responsive-padding(6, "top");
  margin-top: 0;
}

.app-masthead__description {
  @include govuk-font($size: 19);
  color: inherit;
  margin-bottom: 0;

  a:not(:focus) {
    color: inherit;
  }
}

.app-masthead__image {
  @include govuk-responsive-padding(6, "top");

  img {
    max-width: 100%;
  }

  @include govuk-media-query($until: desktop) {
    display: none;
  }
}

.app-masthead--large {
  .app-masthead__title {
    @include govuk-font($size: 48, $weight: "bold");
  }

  .app-masthead__description {
    @include govuk-font($size: 24);
  }
}
