.app-related-links {
  border-top: 2px solid $app-brand-colour;

  &__main-heading {
    @include govuk-font(19, $weight: bold);
    margin-top: govuk-spacing(3);
    margin-bottom: govuk-spacing(2);
  }

  p {
    @include govuk-font($size: 16, $weight: regular, $line-height: 1.45);
  }
}
