.app-screenshots {
  &__screenshot {
    margin-bottom: govuk-spacing(9);
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    > a {
      display: block;
      outline: 1px solid $govuk-border-colour;
      margin: 1px;

      &:hover {
        outline: 4px solid $govuk-link-hover-colour;
      }

      &:active,
      &:focus {
        outline: 4px solid $govuk-link-active-colour;
      }

      img {
        max-width: 100%;
        display: block;
        outline: 0;
        margin-bottom: 0;
      }

      &:active img,
      &:focus img {
        outline: 10px solid $govuk-focus-colour;
      }
    }

    figcaption {
      background-color: govuk-colour("light-grey");
      padding: govuk-spacing(4);

      p {
        @include govuk-font($size: 16);
      }

      :last-child {
        margin-bottom: 0;
      }
    }
  }

  @include govuk-media-query($media-type: print) {
    // Separate screenshots from surrounding content
    page-break-before: always;
    page-break-after: always;

    &__screenshot {
      // New page per screenshot
      page-break-before: always;

      // Hide image URLs
      a:after {
        display: none;
      }
    }
  }
}
