.app-upload {
  input {
    background-color: govuk-tint($app-brand-colour, 80%);
    box-sizing: border-box;
    border: 2px dashed $app-button-colour;
    padding: govuk-spacing(4);
    width: 100%;
  }
}
