.app-upload {
  input[type="file"] {
    background-color: govuk-tint($app-upload-colour, 80%);
    box-sizing: border-box;
    border: 2px dashed $app-upload-colour;
    padding: govuk-spacing(4);
    width: 100%;
  }

  li.app-upload__row {
    margin-bottom: govuk-spacing(6);
    padding-bottom: govuk-spacing(6);
    border-bottom: 1px solid $govuk-border-colour;
  }

  &__attachment {
    position: relative;

    &-buttons {
      background: #000;
      border: 1px solid #000;
      margin-right: 0;
      position: absolute;
      right: -1px;
      top: 0;

      .govuk-button {
        margin-bottom: 2px;
        margin-right: 2px;
      }

      form:last-child .govuk-button {
        margin-right: 0;
      }
    }
  }
}
