$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
$govuk-font-family: "Inter", "HelveticaNeue", "Helvetica Neue", "Arial",
  "Helvetica", sans-serif;

@import "govuk-frontend/govuk/all";

$app-button-colour: #288080;
$app-brand-colour: #c1dede;
$app-header-bar-colour: $app-button-colour;
$app-masthead-colour: $app-brand-colour;
$app-tint-colour: govuk-tint($app-masthead-colour, 50%);

@import "button";
@import "button-link";
@import "document-list";
@import "footer";
@import "global";
@import "header";
@import "masthead";

.app-design-history {
  background-color: $app-tint-colour;
}

.app-metadata {
  @include govuk-font($size: 16, $line-height: 1.5);
  color: $govuk-secondary-text-colour;
}

.app-\!-inherit-colour {
  color: inherit !important;
}
