@import "govuk-frontend/dist/govuk/base";

// GOV.UK Frontend settings
$govuk-brand-colour: #288080;
$govuk-canvas-background-colour: #e0efef;

// App component settings
$app-header-background-colour: govuk-colour("black");
$app-header-border-colour: $govuk-brand-colour;
$app-header-border-width: govuk-spacing(2);

$app-masthead-background-colour: #c1dede;
$app-masthead-text-colour: govuk-colour("black");

$app-footer-background-colour: $govuk-canvas-background-colour;
$app-footer-border-colour: transparent;
$app-footer-border-width: 1px;

@import "application";
