@import "govuk-frontend/dist/govuk/base";

// App component settings
$app-header-background-colour: govuk-colour("black");
$app-header-border-colour: $govuk-brand-colour;
$app-header-border-width: govuk-spacing(2);

$app-masthead-background-colour: $govuk-brand-colour;
$app-masthead-text-colour: govuk-colour("white");

$app-footer-background-colour: $govuk-canvas-background-colour;
$app-footer-border-colour: $govuk-border-colour;
$app-footer-border-width: 1px;

@import "application";
